.clock-section {
    > .title {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .5rem;
        text-align: center;
        padding-bottom: 4.5rem;
    }
}